* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  color: black;
  
}

/* navbar start */
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: whitesmoke;
  font-size: 17px;
}

.navbar .navbar-logo {
  padding-right: 700px;
}

.navbar .search {
  gap: 20px;
  border-radius: 20px;
  border: 2px solid black;
  align-items: center;
}

.navbar .navbar-btn {
  text-align: center;
  font-size: 2px;
  background: rgb(17, 0, 200);
  padding: 10px 20px;
  border-radius: 20px;
}


/* main intro  */
.intro {
  padding: 50px;
}

.intro p {
  font-size: 15px;
  flex-direction: column;
  gap: 25px;
  
}

/* main card */
.card {
  background-color: wheat;
  justify-content: center;
  border-radius: 10px;
  width: 150px;
  height: 200px;
  padding-top: 30px;
  margin: 70px 50px;
  
}

.card i {
  background-color: blue;
  border: 1px solid black;
  border-radius: 80px;
  padding: 6px;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 50px;
  
}

/* sidebar  */

.sidebar {
  position: flex;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 30px;
  margin-left: 30px;
  flex-shrink: 0;
}

.sidebar h2 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #0003cf;
}

.hero {
  display: flex;
 
}
